<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huhusky.wechat.dao.ApiDataDao">

	<insert id="addContact" >
		insert into contact(Uin,UserName,NickName,HeadImgUrl,MemberCount,RemarkName,HideInputBarFlag,sex,Signature,
		AppAccountFlag,ChatRoomId,VerifyFlag,OwnerUin,PYInitial,PYQuanPin,RemarkPYInitial,RemarkPYQuanPin,StarFriend,
		Statues,AttrStatus,City,Alias,ContactFlag,DisplayName,EncryChatRoomId,IsOwner,KeyWord,Province,SnsFlag,UniFriend)
		values(#{Uin},#{UserName},#{NickName},#{HeadImgUrl},#{MemberCount},#{RemarkName},#{HideInputBarFlag},#{sex},#{Signature},
		#{AppAccountFlag},#{ChatRoomId},#{VerifyFlag},#{OwnerUin},#{PYInitial},#{PYQuanPin},#{RemarkPYInitial},#{RemarkPYQuanPin},#{StarFriend},
		#{Statues},#{AttrStatus},#{City},#{Alias},#{ContactFlag},#{DisplayName},#{EncryChatRoomId},#{IsOwner},#{KeyWord},#{Province},#{SnsFlag},#{UniFriend})
	</insert>
	
	<insert id="addMsg">
		insert into msg(subMsgType,voiceLength,fileName,imgHeight,toUserName,hasProductId,imgStatus,url,imgWidth,forwardFlag,status,Ticket,createTime,
		newMsgId,text,msgType,statusNotifyCode,appMsgType,Type,playLength,mediaId,content,statusNotifyUserName,fromUserName,oriContent,fileSize) values(
		#{subMsgType},#{voiceLength},#{fileName},#{imgHeight},#{toUserName},#{hasProductId},#{imgStatus},#{url},#{imgWidth},#{forwardFlag},#{status},#{Ticket},#{createTime},#{
		newMsgId},#{text},#{msgType},#{statusNotifyCode},#{appMsgType},#{Type},#{playLength},#{mediaId},#{content},#{statusNotifyUserName},#{fromUserName},#{oriContent},#{fileSize})
	</insert>
	
	<insert id="addGroupInfo">
		insert into temp_group(createTime, info) values(#{createTime}, #{info})
	</insert>
</mapper>
